body {
  text-align: center;
  background-image: url("paper.jpg");
  background-repeat: repeat-y;
  margin: auto;
  background-position: 50% 123%;
 }

.page-wrap {
  text-align: center;
  width: 800px;
  margin: 30px auto;
}

.checkbox {
  display: inline-flex;
}

.taskList {
  margin-bottom: 10px;
}
.editBtn {
  margin-left: auto;
}

p {
  font-family: 'Brush Script MT', cursive;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1px;
}