<!doctype html>
<html lang="en" ng-app="ToDoListing">
  <head>
    <meta charset="utf-8">
    <title>Github user search</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListAddController.js"></script>
  </head>

  <body ng-controller="ToDoListAddController as addCtrl">
    <div>
      <form class="form-horizontal">
        <input type="text" placeholder="what d'ya wanna do" ng-model="addCtrl.task">
        <button class="btn" ng-click="addCtrl.addTask()">add</button>
        <br>
        <span ng-class="{'done': task.done}" ng-repeat="task in addCtrl.taskList">
          <input type="checkbox" ng-model="task.done">
          {{task.taskName}}
          <button class="btn" ng-click="addCtrl.editMode($index)">edit</button>
          <br>
        </span>
      </form>
      </ul>
      <ng-pluralize count="addCtrl.taskList.length"
                 when="{'0': 'No tasks to do.',
                     'one': '1 task to do.',
                     'other': '{} tasks to do.'}">
      </ng-pluralize>
      <button class="btn" ng-click="addCtrl.clearDoneTasks()">clear completed</button>
    </div>
  </body>
</html>